[Unit]
Description=Green Controller Service

[Service]
ExecStart=make -C /home/admin/code/green_controller_module/ run

Restart=on-failure

Type=notify

[Install]
WantedBy=default.target